<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Invitados</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="content-type" content="text/html;UTF-8">
  <meta http-equiv="cache-control" content="cache">
  <meta http-equiv="content-language" content="es">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Enlazamos íconos de fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/galeryfriends.css">
  <link rel="stylesheet" href="../css/register.css">
  <link rel="stylesheet" href="../css/tweet-main.css">
</head>

<body>
  <nav class="white nav-wrapper">
        <a href="#" class="brand-logo" id = "scroll-to-post">
            <img src="../assets/logo/fa3.png" class="logo-img responsive-img" alt="">
        </a>      
        <button class="btn-out green right" id="signout">Ver tarjeta</button>
  </nav>
  <a href="https://chat.whatsapp.com/EiLur460DSt0a61CxWVfWe" id="whatsapp" target="_blank">    
    <img src="../assets/img/whatsapp.svg" >
  </a>

  <div class="container center main-style"> 
   <div class="row">
  	  <div class="col s12 m12 l12">	
      

     <!--2-->
  	         <!--pie de la web --> 
                     <!--modal de fotos -->   

<!--end 2-->
         <!--footer class="page-footer green"-->

        <div class="container por-que" id="listbot">
          <!--BEGIN CONTAINEREND-->
          <div class="containerend">
              <!--begin gestion-->
              <div class="header">
                <div class="header-top">
                    <br>
                    <div class="header-title">
                        <h6>💳 Gestión de Pagos de Tarjetas</h6>
                    </div>
                </div>
                <br>
                <div class="total-box">
                    <p>Total:</p>
                    <div class="total-amount" id="totalAmount" style="color:aquamarine">$0.00</div>
                </div>
            </div>
              <!-- end gestion--> 
              <!-- BEGIN -->

          <br>

          <!-- tarjetas de credito BEGIN-->
          <div class="form-card" style="padding-bottom: 1rem;">
            <div class="form-group">
                <label class="white-text"  for="cardType">Tipo de Tarjeta</label>
                <!--
                <select class="browser-default btn" id="selectCity">
                                
                </select> -->
                <!-- begin-->
                <div class="row card-row">
                    <div class="col l10 s12 push-l1">  
                    </div>
                </div>
                <!-- end--> 
                <select class="browser-default  btn btn-card"  id="cardType">
                    <option value="visa">Visa</option>
                    <option value="mastercard">Mastercard</option>
                    <option value="amsex">American Express</option>
                    <option value="discover">Maestro</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label class="white-text" for="lastFourDigits">Últimos 4 Dígitos</label>
                <input type="text" id="lastFourDigits" placeholder="1234" maxlength="4" pattern="\d{4}">
            </div>

            <div class="form-group">
                <label class="white-text" for="monthlyPayment">Pago Mensual ($)</label>
                <input type="number" id="monthlyPayment" placeholder="0.00" step="0.01" min="0">
            </div>

            <div class="form-group">
                <label class="white-text" for="dueDate" >Fecha de Vencimiento</label>
                <input type="date" id="dueDate">
            </div>
            <div class="form-group">
                <label class="white-text" for="status">Estado</label>
                <!-- begin-->
                <div class="row card-row">
                    <div class="col l10 s12 push-l1">  
                    </div>
                </div>
                <!-- end--> 
                <select class="browser-default  btn btn-card" id="status">
                    <option value="pending">Pendiente</option>
                    <option value="paid">Pagado</option>
                    <option value="overdue">Vencido</option>
                </select>
            </div>
            <br>
            <div class="button-group">
                <button class="btn btn-primary" id="submitBtn" onclick="handleSubmit()" disabled>
                    ➕ 
                </button>
                <button class="btn btn-secondary" id="cancelBtn" onclick="resetForm()" style="display: none;">
                    ✖️ 
                </button>
            </div>
        </div>
           
        <div class="list-card">
            <h6 id="listTitle">📋 TARJETAS REGISTRADAS (0)</h6>
            <div class="payment-list" id="paymentList">
                <div class="loading">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tarjetas de credito END-->
          <br>
        </div> 
<!--END CONTAINEREND-->
</div>
        <div class="container">	            
          <div class="row">              
                <div class="poster col s12 l12 m12">
                  <br>
                  <div id="posttext">
                    <span class="listmusic"><i class="tiny material-icons">card_giftcard</i>¨ Por favor dejar recordatorio de sus tarjetas.</span>
                  </div>
                  <br>
                  <div class="col s4 l2 m2" id="user-photo"></div>
                  <div id="post">          
                   <textarea class="col s8 l9 m9" id="text" placeholder=""></textarea> 
                    <button id="btn" type="button" class="red" name="btn">Registrar</button>
                    <span id="counter" class="counter"></span>      
                  </div>
                </div> 
                <div class="col l12 s12 m12 container-tweets" id="container-tweets">
                </div>    
          </div>          
        </div>
            
    </div>
  </div>    
</div>
        <footer class="page-footer site">
           <div class="container">
			        <span>967081926</span>
           </div>
           <br>
           <div class="container">
            <p><i class="small material-icons">card_giftcard</i></p>
           </div>
           <div class="footer-copyright">
            <div class="container">
                © 2025 Copyright Lima-Perú Yanina.Mercado
            </div>
           </div>
        </footer>


          
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script> 
    <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
    </script>
     <!-- Base de datos -->
    <script src='../js/dataVolunteer.js'></script>
    <!-- archivos JS
    <script src="../js/appFotos.js"></script> -->
    <script src="../js/appFotosv1.js"></script>
    <script src="../js/datafa.js"></script>
    <script src="../js/appfa.js"></script>   
    <script src="../js/app-tweet.js"></script>
    <script src="../js/appcard.js"></script>
    </body>

</html>