<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Enlazamos nuestro framework _materialize_ -->
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <!-- Enlazamos nuestra hoja de estilo css -->
    <link rel="stylesheet" href="../css/register.css">
    <!-- Enlazamos nuestro logo -->
    <link rel="shortcut icon" href="../assets/logo/flower.png">
    <!-- Enlazamos los íconos de mayterialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Enlazamos íconos de fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tarjeta</title>
</head>
<body>
    <nav>
        <div class="white nav-wrapper">
            <a href="#" class="brand-logo">
                <img src="../assets/logo/flower.png" class="logo-img responsive-img" alt="">
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>

    <div class="section">

        <div class="row section">
            <!--hide-on-small-only-->
            <!--hide-on-small-only-->

            <!---->  
            <div class="col s10 m10 l2  offset-l3 offset-m1 offset-s1">
                <div class="col s12 m12 login-info t-row hoverable style-login">
                    <form class="login-form ">
                        <div class="row">
                            <br>
                            <span id="cardguest">
                             Tarjetas de crédito
                            </span>
                            <br>
                        </div>
                        <div class="row">
                            <div class="m12 l12 center">
                                <a class="waves-effect waves-light btn light-blue darken-4  social facebook" id="btn-facebook">
                               <span class="small"></span> REGISTRAR</a>
                            </div>
                        </div>               
                    </form>               
                </div>
            </div>
            <br>
            <br>
            <div class="col l6 m12 s12">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="../assets/img/img-index/marca.png" alt="Marca">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="firework"></div>
        <div class="firework"></div>
        <div class="firework"></div>
        
    </div>


    

    <!-- Enlazamos nuestro proyecto de firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <!-- Enlazamos la librería Jquery -->
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <!-- Enlazamos el archivo jquery de materialize -->
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <!-- Enlazamos nuestro archivo JS -->
    <!--<script src="../js/register.js"></script>-->
	<script src="../js/datafa.js"></script>
	<script src="../js/loginfa.js"></script>
    <script src="../js/slide.js"></script>
</body>
</html>